$font-heading: Garamond, "Times New Roman", Times, serif;
$font-nav: Constantia, "Times New Roman", Times, serif;
$font-body: Georgia, "Times New Roman", Times, serif;
$font-footer: "Courier New", Courier, monospace;

.text-decoration-underline {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
}

nav {
    font-family: $font-nav;
}

body {
    font-family: $font-body;
}

footer, code {
    font-family: $font-footer;
}